# Vim swap files
*~
*.swp
*.swo

# OS Artifacts
.DS_Store

# Artifacts
build
node_modules

# VSCode
.vscode
.history

# nyc/code coverage
.nyc_output
.karma_output
coverage

# Lerna
/lerna-debug.log

# verdaccio
storage
/verdaccio/.npx